@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --background: #171717;
  --foreground: #ffffff;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Base styles */
html {
	scroll-behavior: smooth;
}

section {
	scroll-margin-top: 100px;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: system-ui, sans-serif;
}

/* Reusable layout components */
@layer components {
	/* page section */
	.section-customer {
		@apply py-16;
	}

	/* max width container */
	.container-customer {
		@apply max-w-6xl mx-auto px-10 py-10;
	}
}

/* Reusable ui components */
@layer components {
	.sociallink-button {
		@apply p-3 bg-white rounded-full shadow-md hover:shadow-lg transition-shadow;
	}

  .nav-button {
    @apply text-gray-700 hover:text-blue-700 transition-colors font-semibold cursor-pointer;
  }
}